nav{
  margin: 10px 0 0 4.7em;
}
a{
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
a:hover,.is-active{
  text-decoration-line: underline;
  text-decoration-thickness: 3.5px;
  border-bottom: rgb(0, 20, 137);
  color: rgb(0, 20, 137);
}
