/**
    Style for the formula deploy on render
   fontawesomes cdn css links
*/

.login-box {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.login-box h2 {
  margin: 0 0 3px;
  padding: 0;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box input :active,
.login-box .user-box input:focus{
  border-bottom: 1px solid #001489;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
label span {
  color: red;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #001489;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #001489;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 700
  */
.is-title{
    font-family: "Play", sans-serif,"Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    line-height: 2.5rem;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #001489;
}


  .btn-send,button{
    background-color: #f3f3f3;
    color: #001489;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.5);
    padding: 10px 20px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    transition: 1s background-color ease ;
    -o-transition: 1s background-color ease ;
    -webkit-transition: 1s background-color ease ;
    -moz-transition: 1s background-color ease ;
    -ms-transition: 1s background-color ease ;
    transition-delay: 20ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .btn-send:hover{
    background-color: #001489;
    color: #fff;
    border: 1px solid #001489;

}
 